body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #000000;
}
img {
    height: auto;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE STYLING */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}