/* GENERAL STYLING */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
}

/* CARD STYLING */
.card {
    width: 300px;
    padding: 20px;
    background: white;
    /* box-shadow: 0 4px 8px rgb(225, 212, 32); */
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h2 {
    margin: 15px 0 10px;
}

.card p {
    color: #555;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    box-shadow:  0 0 15px 10px rgb(225, 212, 32);
}
